<head>

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

    <p>
        <a href="{% url 'msgrad_app:index' %}">Grad Tracker</a> -
        <a href="{% url 'msgrad_app:dashboard' %}">Dashboard</a> - 
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'users:register' %}">Register</a> -
            <a href="{% url 'users:login' %}">Login</a>
        {% endif %}
    </p>

</head>

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}


{% endblock content%}