{% extends 'msgrad_app/base.html' %}

{% block content %}


<div>
  <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {  
      datasets: [{
        data: [{% for credit in queryset %} '{{credit.studentCredits}}', {% endfor %}],
        label: '# of Credits',
      }],
        labels: {{labels|safe}},
        borderWidth: 1,
    },
    options: {
      
    }
  });
</script>

 {% endblock content %}

