{% extends "msgrad_app/base.html" %}

{% block content %}

    <h2>Welcome to "UserName"!</h2>

    <!-- List Subjects with total credits to req. amount. -->
    <table>
        <tr>
           <th>Subject</th>
           <th>Credits</th>  
        </tr>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.total_credits }}/{{ subject.credit_amount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>None</td>
                <td>0.0/0.0</td>
            </tr>     
        {% endfor %}      
    </table>

{% endblock content %}