{% extends "msgrad_app/base.html" %}


{% block content %}
<div class="container-fluid" id="dashboard-container">  
    <div class="subject-container">
      <h2 class="welcome-name">Welcome <p>{{ user.first_name }}</p>!</h2>

      <br>
      <p>Click on the subject's name to add courses.</p>
      <!-- List Subjects with total credits to req. amount with links to subject -->
      <table id="subjectTable">
          <tr>
            <th id="subjectTitle">Subject</th>
            <th id="creditsTitle">Credits</th>  
          </tr>
          {% for subject in subjects %}

              <tr>
                  <td><a href="{% url 'msgrad_app:subject' subject.id %}">{{ subject }}</a></td>
                  <td>{{ subject.studentCredits }}/{{ subject.credit_amount }}</td>
              </tr>
          {% empty %}
              <tr>
                  <td>None</td>
                  <td>0.0/0.0</td>
              </tr>  
          {% endfor %} 
          <tr>
              <td><b>Total:</b></td>
              <td id="totalsText">{{ totalCredits }}/{{ requiredCredits }}</td>
          </tr>     
      </table>
      <br>
    </div>

    <!-- Chart.js Doughnut for User's credits -->
    <div class="chart">
          <div> 
            <canvas id="myChart"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
          <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: 'doughnut',
              data: {  
                datasets: [{
                  data: [{% for data in data %} '{{ data }}', {% endfor %}],
                  backgroundColor: ['#21AEDD','#F7BE2E'],
                  label: '# of Credits',
                }],
                  labels: {{labels|safe}},       
                  borderWidth: 2,
              },
              options: {}
            });
          </script>
     </div>
  </div> 



{% endblock content %}