{% extends "msgrad_app/base.html" %}

{% block content %}


    <h2>Welcome {{ user.first_name }}!</h2>
    <p>Click on the subject's name to add courses.</p>

    <!-- Do a if user is authenticated so dashboard only appears for logged in user -->

    <!-- List Subjects with total credits to req. amount with links to subject -->
    <table>
        <tr>
           <th>Subject</th>
           <th>Credits</th>  
        </tr>
        {% for subject in subjects %}
            <tr>
                <td><a href="{% url 'msgrad_app:subject' subject.id %}">{{ subject }}</a></td>
                <td>{{ subject.totalCredits }}/{{ subject.credit_amount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>None</td>
                <td>0.0/0.0</td>
            </tr>     
        {% endfor %} 
        <tr>
            <td><b>Total:</b></td>
            <!-- FIXME: Create and add overall total variable here. -->
            <td>2.0/24.0</td>
        </tr>     
    </table>

{% endblock content %}