{% extends "msgrad_app/base.html" %}

{% block content %}
    <div class="editPage">
        <h3>Delete course:</h3>
        <form method='POST'>
            {% csrf_token %}
            <p>Are you sure you want to delete {{ course.name }}?</p>
            <button class="button" id="delete">Delete</button>  
            <button class="button" id="cancel"><a href="{% url 'msgrad_app:subject' subject.id %}">
                Cancel</a></button>
        </form>
      
    </div>
{% endblock content%}