{% extends "msgrad_app/base.html" %}

{% block content %}

    <h2>{{ subject }}</h2>
    <h5><a href="{% url 'msgrad_app:add_course' subject.id %}">Add course</a></h5>

    <ul>
    {% for course in courses %}
        <li>
            <p>{{ course.name }} - {{ course.credit_amount }}</p> 
            <p><a href="{% url 'msgrad_app:edit_course' course.id %}">Edit course</a></p>
            <p><a href="{% url 'msgrad_app:delete_course' course.id %}">Delete course</a></p>
        </li>
    {% empty %}
        <li>Add courses.</li>
    {% endfor %}
    </ul>

    <p>Total Credits: {{ subject.totalCredits }}</p>

    <h6><a href="{% url 'msgrad_app:dashboard' %}">Back to Dashboard</h6>

{% endblock content %}